# Logs
logs
*.log


# Other
*.uuid
*.conf
*.db*
*.db-journal
*.log
*.noload
*.txt
*.sqlite
*.xml
*.backup
*.google.token
*.swp

.google.token
.HA_VERSION
.homekit.state
.ring_cache.pickle
.spotify-token-cache

entity_registry.yaml
google_calendars.yaml
ip_bans.yaml
known_devices.yaml
secrets.yaml

components
deps
www
icloud
tts
lutron
