# Logs
logs
*.log

backups

# Other
*.uuid
*.conf
*.db*
*.db-journal
*.log.*
*.noload
*.txt
*.sqlite
*.xml
*.backup
*.google.token
*.swp

.cloud
.config_entries.json
.google.token
.HA_VERSION
.homekit.state
.ring_cache.pickle
.spotify-token-cache
.storage

entity_registry.yaml
google_calendars.yaml
ip_bans.yaml
known_devices.yaml
nokia.json
secrets.yaml

components
custom_components
deps
www
icloud
tts
lutron

alexa_media.gervais@demontbrun.com.pickle
withings.json
emulated_hue_ids.json
