# vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2:

homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 5
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: America/Halifax
  # Allow homeassistant to write to snapshots dir
  whitelist_external_dirs:
    - /var/www/html/snapshots

# {{{ customizations

  customize:
    group.all_scenes:
      friendly_name: Scenes
      hidden: false
    group.all_devices:
      friendly_name: Devices
      hidden: false
    group.all_scripts:
      friendly_name: Scripts
      hidden: false
    group.all_automations:
      friendly_name: Automations
      hidden: false
    group.all_booleans:
      friendly_name: Booleans
      hidden: false
    group.all_lights:
      friendly_name: All Lights
      hidden: false
    group.all_switches:
      friendly_name: Switches
      hidden: false

    sensor.grater_uptime:
      friendly_name: Uptime
      icon: mdi:clock

    sensor.swap_used:
      icon: mdi:memory

    sensor.filesize_db:
      friendly_name: SQLite DB size
      icon: mdi:database

    sensor.nokia_15324269:
      friendly_name: Gervais

    sensor.fing_state:
      hidden: true

    device_tracker.dgrabbs_iphonehass:
      hidden: true
    device_tracker.gail_iphonetracks:
      hidden: false
      entity_picture: https://www.gravatar.com/avatar/cfc778be50204005b79c0db7ee67dda0.jpg?s=80&d=wavata
    device_tracker.gail3:
      hidden: true
    group.gail_tracker:
      hidden: true

    device_tracker.gervais_iphonetracks:
      hidden: false
      entity_picture: https://www.gravatar.com/avatar/5353fd4e9e6aa5b84af2fd5ca3231ada.jpg?s=80&d=wavatar
    device_tracker.gervais3:
      hidden: true
    device_tracker.gervaisapplewatch:
      hidden: true
    group.gervais_tracker:
      hidden: true

    sensor.distance_apart:
      icon: mdi:human-male-female

    group.grant_tracker:
      entity_picture: https://zulip.demontbrun.com/user_avatars/2/emoji/images/54.png
    device_tracker.grantphone:
      hidden: true
    device_tracker.grant2:
      hidden: true

    group.cam_tracker:
      entity_picture: https://zulip.demontbrun.com/user_avatars/2/emoji/images/48.png
    device_tracker.camphone:
      hidden: true
    device_tracker.cameron2:
      hidden: true

    group.jen_tracker:
      entity_picture: https://zulip.demontbrun.com/user_avatars/2/emoji/images/50.png
    device_tracker.jenphone:
      hidden: true
    device_tracker.jennifer2:
      hidden: true

    sensor.deMontbrun_DNS_Expiry:
      icon: mdi:dns

    switch.switch0:
      friendly_name: Fireplace Switch
    switch.switch1:
      friendly_name: Jennifer Switch
    switch.switch2:
      friendly_name: Livingroom Switch
    switch.switch3:
      friendly_name: Office Light Switch
    switch.switch4:
      friendly_name: Bedroom Switch
    switch.switch5:
      friendly_name: Office Switch

    light.office_main_lights:
      friendly_name: Office Main Lights

  customize_glob:
    "switch.tv_*":
      assumed_state: false

# }}}
# {{{ misc

config:
map:

# Checks for available updates
updater:

# Discover some devices automatically
discovery:
  ignore:
    - roku

# Set logging level
logger:
  default: error
  logs:
    homeassistant.components.camera: fatal
    homeassistant.components.media_player.plex: fatal
    homeassistant.components.media_player.roku: fatal

# Hue lights are not being discovered automaically.
hue:
  bridges:
    - host: 192.168.2.120
      allow_unreachable: true

# Homekit Setup
homekit:
  filter:
    include_domains:
      - light
      - media_player
      - switch

# Lutron Dimmers
lutron_caseta:
  host: 192.168.2.121
  keyfile: 'lutron/caseta.key'
  certfile: 'lutron/caseta.crt'
  ca_certs: 'lutron/caseta-bridge.crt'

# Enables support for tracking state changes over time.
history:
  include:
    entities:
      - device_tracker.gail_iphonetracks
      - device_tracker.gervais_iphonetracks
      - group.cam_tracker
      - group.jen_tracker
      - group.householdmembers

# Setup recorder
recorder:

# Add influxdb
influxdb:

# Track the sun
sun:

ifttt:
  key: !secret ifttt_key

ffmpeg:
  run_test: false

# Enable IOS component
ios:

downloader:
  download_dir: /var/www/html/snapshots

# }}}
# {{{ text-to-speech
tts:
  - platform: google

  - platform: voicerss
    api_key: !secret voicerss_api_key

# }}}
# {{{ zones

zone:
  name: Home
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  radius: 50
  icon: mdi:home

zone craft_beer_corner:
  name: Craft Beer Corner
  latitude: !secret craft_beer_corner_latitude
  longitude: !secret craft_beer_corner_longitude
  radius: 20
  icon: mdi:beer

zone discoverygarden:
  name: discoverygarden
  latitude: !secret discoverygarden_latitude
  longitude: !secret discoverygarden_longitude
  radius: 50
  icon: mdi:domain

zone upstreet:
  name: Upstreet
  latitude: !secret upstreet_latitude
  longitude: !secret upstreet_longitude
  radius: 30
  icon: mdi:beer

zone innovatia:
  name: Innovatia
  latitude: !secret innovatia_latitude
  longitude: !secret innovatia_longitude
  radius: 100
  icon: mdi:domain

zone walmart:
  name: Walmart
  latitude: !secret walmart_latitude
  longitude: !secret walmart_longitude
  radius: 100
  icon: mdi:shopping

zone churchill_arms:
  name: Churchill Arms
  latitude: !secret churchill_arms_latitude
  longitude: !secret churchill_arms_longitude
  radius: 25
  icon: mdi:beer

zone qeh:
  name: Queen Elizabeth Hospital
  latitude: !secret qeh_latitude
  longitude: !secret qeh_longitude
  radius: 200
  icon: mdi:hospital-building

zone delta_calgary_downtown:
  name: Calgary Delta
  latitude: 51.048800
  longitude: -114.059662
  radius: 50
  icon: mdi:hotel

zone confederation_bridge:
  name: Confederation Bridge
  latitude: 46.200184
  longitude: -63.765234
  radius: 4000
  icon: mdi:bridge

# Airports
zone yyc:
  name: Calgary Airport
  latitude: 51.131686
  longitude: -114.006702
  radius: 600
  icon: mdi:airplane

zone yyg:
  name: Charlottetown Airport
  latitude: 46.286076
  longitude: -63.131658
  radius: 200
  icon: mdi:airplane

zone yeg:
  name: Edmonton Airport
  latitude: 53.307505
  longitude: -113.584352
  radius: 600
  icon: mdi:airplane

zone yhz:
  name: Halifax Airport
  latitude: 44.887088
  longitude: -63.515278
  radius: 400
  icon: mdi:airplane

zone yul:
  name: Montreal Airport
  latitude: 45.458942
  longitude: -73.750330
  radius: 400
  icon: mdi:airplane

zone yyz:
  name: Pearson Airport
  latitude: 43.679232
  longitude: -79.620109
  radius: 1000
  icon: mdi:airplane

zone ytz:
  name: Toronto City Central Airport
  latitude: 43.628482
  longitude: -79.395958
  radius: 400
  icon: mdi:airplane

zone yjz:
  name: Saint John Airport
  latitude: 45.326501
  longitude: -65.888867
  radius: 400
  icon: mdi:airplane

zone yyt:
  name: "St. John's Airport"
  latitude: 47.621210
  longitude: -52.742443
  radius: 400
  icon: mdi:airplane

# }}}
# {{{ frontend

# Enables the frontend
frontend:
  javascript_version: latest

http:
  base_url: !secret http_base_url
  api_password: !secret http_api_password
  ssl_certificate: !secret http_ssl_certificate
  ssl_key: !secret http_ssl_key
  use_x_forwarded_for: true
  trusted_proxies:
    - 127.0.0.1
  trusted_networks:
    - 192.168.2.0/24
    - 127.0.0.1

weblink:
  entities:
    - name: Home Security
      url: https://home.demontbrun.com/snapshots/
      icon: mdi:file-video

# }}}
# {{{ Media Players

media_player:

# Plex
  - platform: plex
    entity_namespace: 'plex'
    use_custom_entity_ids: true

# Roku
  - platform: roku
    host: 192.168.2.21

# }}}
# {{{ Ring

ring:
  username: !secret ring_username
  password: !secret ring_password

# }}}
# {{{ Sensors

sensor:
  - platform: whois
    domain: demontbrun.com
    name: deMontbrun DNS Expiry

  - platform: season

  - platform: cert_expiry
    host: !secret http_base_url

  - platform: systemmonitor
    resources:
      - type: disk_use_percent
        arg: /
      - type: disk_use_percent
        arg: /boot
      - type: disk_use_percent
        arg: /media/apple
      - type: disk_use_percent
        arg: /media/wine
      - type: disk_use_percent
        arg: /media/cracker
      - type: disk_use_percent
        arg: /media/grapes
      - type: memory_use_percent
      - type: swap_use_percent
      - type: load_1m
      - type: load_5m
      - type: load_15m
      - type: processor_use
      - type: since_last_boot

  - platform: pi_hole
    host: pi.hole
    monitored_conditions:
      - unique_clients
      - ads_blocked_today
      - dns_queries_today

  - platform: glances
    host: pi.hole
    name: pi.hole
    resources:
      - 'disk_use_percent'
      - 'memory_use_percent'
      - 'swap_use_percent'
      - 'processor_load'

  - platform: glances
    host: zulip.dem
    name: zulip
    resources:
      - 'disk_use_percent'
      - 'memory_use_percent'
      - 'swap_use_percent'
      - 'processor_load'

  - platform: command_line
    name: 'Pi CPU temp'
    command: curl -sL http://pi.hole | grep Temp | awk '{ print $11 }' | sed 's/Temp:&nbsp;//' | sed 's/&nbsp;&deg;C<\/a>//'
    unit_of_measurement: °C

  - platform: command_line
    name: 'Grater uptime'
    command: cat /proc/uptime | awk '{ print $1 }'
    scan_interval: 60
    unit_of_measurement: minutes
    value_template: >-
      {% set uptime = value | int %}
      {% set minutes = (uptime / 60 ) | int %}
      {{ minutes }}

  - platform: uptime
    name: 'HASS uptime'
    unit_of_measurement: hours

  - platform: moon

  - platform: ring
    monitored_conditions:
      - last_activity
      - last_ding
      - last_motion

  - platform: speedtest
    hour:
      - 4
    monitored_conditions:
      - ping
      - download
      - upload

  - platform: rest
    resource: !secret hue_bedroom_battery
    value_template: '{{ value_json.config.battery }}'
    unit_of_measurement: '%'
    scan_interval: 86400
    name: 'Bed Room Battery Level'

  - platform: rest
    resource: !secret hue_bedroom_lightlevel
    value_template: '{{ value_json.state.lightlevel }}'
    unit_of_measurement: Lux
    name: 'Bed Room Lux'

  - platform: rest
    resource: !secret hue_bedroom_temp
    value_template: '{{ value_json.state.temperature | round(-1) | float / 100 }}'
    unit_of_measurement: °C
    name: 'Bed Room Temp'

  - platform: rest
    resource: !secret hue_livingroom_battery
    value_template: '{{ value_json.config.battery }}'
    unit_of_measurement: '%'
    scan_interval: 86400
    name: 'Living Room Battery Level'

  - platform: rest
    resource: !secret hue_livingroom_lightlevel
    value_template: '{{ value_json.state.lightlevel }}'
    unit_of_measurement: Lux
    name: 'Living Room Lux'

  - platform: rest
    resource: !secret hue_livingroom_temp
    value_template: '{{ value_json.state.temperature | round(-1) | float / 100 }}'
    unit_of_measurement: °C
    name: 'Living Room Temp'

  - platform: yr
    monitored_conditions:
      - temperature
      - symbol

  - platform: wunderground
    api_key: !secret wunderground_api_key
    monitored_conditions:
      - alerts
      - feelslike_c
      - relative_humidity
      - solarradiation
      - temp_c
      - UV
      - weather
      - wind_degrees
      - wind_gust_kph
      - wind_kph

  - platform: yweather
    monitored_conditions:
      - temp_min
      - temp_max
      - temperature

  - platform: command_line
    name: 'filesize_db'
    command: 'stat -c %s "/etc/homeassistant/home-assistant_v2.db"'
    unit_of_measurement: 'MB'
    value_template: '{{ (value|int / 1024 / 1024)|round(1) }}'
    scan_interval: 900

  - platform: template
    sensors:
      distance_apart:
        friendly_name: 'GandG Apart'
        value_template: >-
          {% if distance(states.device_tracker.gervais_iphonetracks, states.device_tracker.gail_iphonetracks) | int == 0 %}
            0
          {% elif distance(states.device_tracker.gervais_iphonetracks, states.device_tracker.gail_iphonetracks) | round(2) < 0.09 %}
            0
          {% else %}
            {{ distance(states.device_tracker.gervais_iphonetracks, states.device_tracker.gail_iphonetracks) | round(2) }}
          {% endif %}
        unit_of_measurement: 'km'
        entity_id:
          - device_tracker.gail_iphonetracks
          - device_tracker.gervais_iphonetracks

  - platform: nokia_health
    consumer_key: !secret nokia_key
    consumer_secret: !secret nokia_secret
    scan_interval: 3600

  - platform: imap_email_content
    name: Fing State
    server: !secret fing_email_server
    port: 993
    username: !secret fing_email_username
    password: !secret fing_email_password
    senders:
      - alert@fing.io

binary_sensor:
  - platform: workday
    country: CA
    province: PE

  - platform: rest
    name: Bedroom Motion
    resource: !secret hue_bedroom_status
    value_template: '{{ value_json.state.status }}'
    scan_interval: 2

  - platform: rest
    name: Bedroom Presence
    resource: !secret hue_bedroom_presence
    value_template: '{{ value_json.state.presence }}'
    scan_interval: 2

  - platform: rest
    name: Livingroom Motion
    resource: !secret hue_livingroom_status
    value_template: '{{ value_json.state.status }}'
    scan_interval: 2

  - platform: rest
    name: Livingroom Presence
    resource: !secret hue_livingroom_presence
    value_template: '{{ value_json.state.presence }}'
    scan_interval: 2

  - platform: ring
    monitored_conditions:
      - ding
      - motion

# }}}
# {{{ Weather

weather:
  - platform: darksky
    api_key: !secret darksky_api_key
    mode: daily

# }}}
# {{{ Presence Trackers

device_tracker:
  - platform: owntracks_http

  - platform: nmap_tracker
    hosts: 192.168.2.1-9
    home_interval: 5
    interval_seconds: 60
    new_device_defaults:
      track_new_devices: true
      hide_if_away: true

  - platform: nmap_tracker
    hosts: 192.168.2.10-13
    home_interval: 5
    interval_seconds: 60
    new_device_defaults:
      track_new_devices: true
      hide_if_away: true

  - platform: nmap_tracker
    hosts: 192.168.2.14-100
    home_interval: 2
    interval_seconds: 60
    new_device_defaults:
      track_new_devices: true
      hide_if_away: true

  - platform: nmap_tracker
    hosts: 192.168.2.101-120
    home_interval: 5
    interval_seconds: 60
    new_device_defaults:
      track_new_devices: true
      hide_if_away: true

  - platform: nmap_tracker
    hosts: 192.168.2.121-254
    home_interval: 5
    interval_seconds: 60
    new_device_defaults:
      track_new_devices: true
      hide_if_away: true
    exclude:
      - 192.168.2.150

  - platform: ping
    count: 10
    hosts:
      Jennifer2: jen-phone
      Cameron2: cam-phone
      Grant2: grant-phone
      Gervais3: iphone
      Gail3: Gail-iPhone

# }}}
# {{{ Security Cams

camera:
  - platform: ring
    scan_interval: 90

# }}}
# {{{ Notify

notify:
  - name: zulip
    platform: rest
    resource: !secret zulip_notify_resource
    method: POST_JSON
    title_param_name: topic

# }}}
## {{{ Rest Commands

rest_command:
  sabnzb_api:
    url: !secret sabnzbd_rest_url

  take_a_picture:
    url: http://192.168.2.92:8080/photo_save_only.jpg

## }}}
# {{{ Switches

tuya:
  username: !secret tuya_username
  password: !secret tuya_password
  country_code: !secret tuya_country_code

# Wemo switches are not always being discovered automatically.
wemo:
  static:
    - 192.168.2.80
    - 192.168.2.81
    - 192.168.2.82
    - 192.168.2.83

switch:
  - platform: tplink
    host:  192.168.2.84
    name: Switch4

  - platform: tplink
    host:  192.168.2.85
    name: Switch5

  - platform: broadlink
    host: 192.168.2.7
    mac: '34:EA:34:43:15:05'
    timeout: 20
    switches:
      tv_power:
        friendly_name: 'TV Power'
        command_on: 'JgBYAAABKJYRExIUETkRFBEUERUQFBEUETkROREUETkRORE5EjgSOBITEhQRFBI4ERQRFBEUERUQORE5ETkRFBE5ETkRORE5EgAFMAABKEwRAAxtAAEoSxIADQU='
        command_off: 'JgBYAAABKJYRExIUETkRFBEUERUQFBEUETkROREUETkRORE5EjgSOBITEhQRFBI4ERQRFBEUERUQORE5ETkRFBE5ETkRORE5EgAFMAABKEwRAAxtAAEoSxIADQU='
      tv_mute:
        friendly_name: 'TV Mute'
        command_on: 'JgBYAAABKZQSExITEjkRFBEUERQRFBEUETkROREUETkRORE5ETkSORE5ERQRFBE5ERQRFBEUERQRFBE5ETkRFBE5ETkSOBI4EgAFMAABKUoRAAxsAAEpSxEADQU='
        command_off: 'JgBYAAABKZQSExITEjkRFBEUERQRFBEUETkROREUETkRORE5ETkSORE5ERQRFBE5ERQRFBEUERQRFBE5ETkRFBE5ETkSOBI4EgAFMAABKUoRAAxsAAEpSxEADQU='

# }}}

group: !include groups.yaml
scene: !include scenes.yaml
automation: !include automations.yaml
script: !include scripts.yaml
